{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/angular.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <title>{% block title %}User test{% endblock %}</title>
</head>

<body>
<div id="header">
    <div ng-app="">

        <p>Input something in the input box:</p>
        <p>Name : <input type="text" ng-model="name"
                         placeholder="Enter name here"></p>
        <h1>Hello {{ name }}</h1>

    </div>
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>

<div id="footer">
    {% block footer %}
        <hr/>
    {% endblock %}
</div>
</body>

</html>
