{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="{% static 'js/jquery.js' %}"></script>
       <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>{% block title %}User test{% endblock %}</title>
</head>

<body>
<div id="header">
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>

<div id="footer">
    {% block footer %}
        <hr/>
    {% endblock %}
</div>
</body>

</html>
