{% extends "index.html" %}
{% load i18n %}
{% block content %}
    <div class="container">
        <h2>Find your oponent!</h2>
        <button class="btn btn-success" data-toggle="tooltip"
                title="Click to start searching for random opponent">Find
            randomly!
        </button>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>User</th>
                <th>Time</th>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            {% for g in game_requests %}
                <tr {% if user.id == g.user.id %} class = 'info' {% endif %}>
                    <td>{{ g.user }}</td>
                    <td>{{ g.move_time }}</td>
                    {% if user.id == g.user.id %}
                        <td>
                            <a class="btn btn-danger"
                               href="/game/action?action=cencel"><i
                                    class="glyphicon glyphicon-remove"></i>Cencel
                            </a>
                        </td>
                    {% else %}
                        <td>
                            <a href="/game/apply?id={{ g.user.id }}"
                               class="btn btn-primary btn-success"><i
                                    class="glyphicon glyphicon-resize-small"></i>Apply
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="col-xs-2">
            <select class="form-control" id="timeSelect" title="Move time">
                <option value="" selected disabled>Move time</option>
                {% for time in move_time_cases %}
                    <option>{{ time }}</option>
                {% endfor %}
            </select>
        </div>
        <a class="btn btn-success" onclick="create_game()"
           href='#'><i class="glyphicon glyphicon-plus"></i>Create</a></li>
    </div>
{% endblock %}
