{% extends "index.html" %}
{% load i18n %}
{% block content %}
    <div ng-app="MyApp">

        <p>Input something in the input box:</p>
        <p>Name : <input type="text" ng-model="name"
                         placeholder="Enter name here">
        </p>
    </div>
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <h2>Your opponent is {{ opponent }}</h2>
        <table>
            <tbody>
            <tr>
                <td class="block"></td>
                <td class="block"></td>
                <td class="block"></td>
                <td class="block"></td>
                <td class="block"></td>
            </tr>
            <tr>
                <td class="block"></td>
                <td class="block"></td>
                <td class="block"></td>
                <td class="block"></td>
                <td class="block"></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}