{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <h2>Your opponent is {{ opponent }}</h2>
        <table class="table">
            <tbody>
            <tr>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
            </tr>
            <tr>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
            </tr>
            <tr>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
            </tr>
            <tr>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
            </tr>
            <tr>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
            </tr>
            <tr>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
                <td><input class="form-control"></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}