{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="text-center">
        <img src="{% static "src/LogoMakr.png" %}" style="margin-bottom: 5%">
        <div class="row" style="height: 30%">
        </div>
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" class="btn btn-success"
                   value="{% trans 'Log in' %}"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>

        <p>{% trans "Forgot password" %}? <a
                href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!
        </p>
        <p>{% trans "Not member" %}? <a
                href="{% url 'registration_register' %}">{% trans "Register" %}</a>!
        </p>
    </div>
{% endblock %}
